.Dropdown{
  padding-left: 8px !important;
}

.Group.Button{
min-width: fit-content !important;
max-width: fit-content !important;
width: fit-content !important;
padding: 0px 10px !important;
}

.figCard {
  width: 100%;padding-top: 100%;position: relative;
}

.refno{
  border-color: lightgray;
}

.figbg{
  position: absolute; top: 0;left: 0;bottom: 0;right: 0;
  background-position: center; background-repeat: no-repeat; background-size: contain;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.form-group.row {
  margin-right: -15px;
  margin-left: -15px;
}

#backgroundDiv{
  margin: auto;
}
#figDiv{
  margin: auto;
}

#claimsDiv{
  display:grid;
}

.btn:disabled{
  cursor:not-allowed;
}

#emailrepeatinggroup{
  display: block;
  position: static;
}

#emailrepeatinggroup .group-item{
  margin-right: 10px;
  display: inline-block;
  width: auto;
}
#emailrepeatinggroup .group-item .Button{
  position: initial
}
