/* html{
  scrollbar-gutter: stable
} */
.tox-statusbar{
  display:none !important
}

.Checkbox label{
  padding-left: 8px;
}

.highlightfield{
  border-color: red !important
}
.uppercase{
  text-transform: uppercase;
}
.dz-preview{
  background-color: transparent
}
.dz-success, .dz-preview, .dz-details{
  display: none;
}
.dz-progress{
  background-color: inherit;
}
