/* html{
  scrollbar-gutter: stable
} */
.tox-statusbar{
  display:none !important
}

.Checkbox label{
  padding-left: 8px;
}

.highlightfield{
  border-color: red !important
}
.uppercase{
  text-transform: uppercase;
}
